input, textarea {
    box-sizing: border-box;
    margin: 5px 0;
    padding: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.back-btn {
    margin-bottom: 20px;
}

.back-btn a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition:0.5s; /* Dodaj płynne przejścia */
}

.back-btn a:hover {
    background-color: #45a049; /* Zmiana koloru po najechaniu kursorem */
}

.dodaj, .edycja, .delete {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.dodaj h1, .edycja h1, .delete h1 {
    color: #333;
    text-align: center;
}

.dodaj input, .edycja input, .delete input, .dodaj textarea, .edycja textarea, .delete textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.dodaj input[type="submit"], .edycja input[type="submit"], .delete input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.dodaj input[type="submit"]:hover, .edycja input[type="submit"]:hover, .delete input[type="submit"]:hover {
    background-color: #45a049;
}

.edycja, .delete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dodaj cienie dla lepszego efektu wizualnego */
.dodaj, .edycja, .delete {
    box-shadow: 0px 0px 10px 0px #ddd;
}

.arrow {
    color: #0000FF;
}

/* Styl dla numeru ID */
.category-id {
    color: #008000;
    font-weight: bold;
}

/* Styl dla nazwy kategorii */
.category-name {
    font-weight: bold;
}

/* Styl dla braku kategorii */
.no-category {
    text-align: center;
    font-weight: bold;
    color: #FF0000;
}